@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<BanSach.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<style>
    

        .table td, .table th {
            max-width: 155px; /* Điều chỉnh độ rộng tối đa của các cột */
            white-space: nowrap; /* Ngăn các dòng chữ bị tràn xuống hàng dưới */
            overflow: hidden; /* Ẩn phần vượt quá độ rộng tối đa */
            text-overflow: ellipsis; /* Hiển thị dấu elipsis (...) nếu nội dung vượt quá */
        }
</style>


<h2>QUẢN LÝ SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm Mới", "ThemMoi")
    <a href="@Url.Action("index", "Home")"><<</a>
</p>


<table class="table">
    <tr>
        <th>
            Mã SP
        </th>
        <th>
            Tên SP
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.First().ChuDe.TenChuDe)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>
            <td class="TenGiay">
                @Html.DisplayFor(modelItem => item.TenGiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td class="MoTa">
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td class="image">
                <a href="@Url.Action("XemChiTiet", "Sach", new {@MaSach=item.MaSach})"> <div id="AnhBia"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="100" height="150"></div></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
            </td>
            
            <td>
                <div style="white-space: nowrap;max-width:200px;">
                    @Html.ActionLink("Edit", "Edit", new { @MaSach = item.MaSach }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaSach }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaSach })
                </div>
            </td>

        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>